$icon-font-path: '../fonts/';

$font-family-sans-serif: 'Titillium Web', sans-serif;


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1920px;
    }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.my-thumbnail {
    width: 50px;
    height: 50px;
}

.sidebar-module-inset {
    padding: 15px;
    background-color: #cfe2f2;
    border-radius: 4px;
    }

.blog-header {
    border-botton: 0px;
}

.sky {
    background-image: url('../images/sky.jpg')
}

.top-link {
    display: inline;
    list-style-type: none;
}
.about-me {
    font-size: 12px;
}

.full-width-image-margins {
    margin: 20px;
}
.my-inline {
  display: inline;
  list-style-type: none;
}
.my .active a,
.my .active a:hover {
    background-color: red;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #337ab7;
    background-color: #F7F9F9
    //background-color: #EBF5FB  ;
}
.nav > li > a {

    padding: 5px 10px;
}

.isHidden {
  display: none !important;
  //visibility: hidden !important;
}

textarea {
  width: 350px;
  height: 50px;
}

.myConversationDiv
{
  //width: 350px;
  //max-height:250px;
  /* background-color:#CCC; */
  //overflow:auto;
  max-height: 120px;
  overflow-y: scroll;
}

.myDisplayNone {
  display: none;
}
.messagePanel {

}
.myMessagesDiv{
  max-height: 120px;
  overflow-y: scroll;
}
.blue {
  color: slateblue;
}
.emma {
  color: slategrey;
}
.my-panel-heading-right {
  float: right;
}
.mySpacer {
  margin: 0px 10px 0px 10px;
}

.myCodeEmbed {
    background-color: purple;
    font-size: 2px;
    font-family: 'Dosis', sans-serif
}

.header h3 {
    background-color: aliceblue;
    /* border: gray; */
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-top: 5px;
}

.avatar-text {
    font-size: 24px;
}

.avatar-header {
    margin-top:30px;
    margin-bottom: 5px;
}

.command-buttons {
    margin-bottom: 40px;
    margin-top: -40px
}
.well {
    background-color: #F7F9F9  ;
}
.myBlue,
.myBlue pre {
    background-color:#F7F9F9  ;
}
.open-profile {
    background-color: inherit;
}

.emma-bg {
    background-image: url('../images/emma-net-300.png');
    background-repeat: no-repeat
}

.emma-bg-clipped {
    background-image: url('../images/emma-net-300.png');
    background-repeat: no-repeat;
    background-position: 0px -165px;

}
.emma-header {
    padding-left: 0px;
    padding-right: 16px;
    padding-bottom: 85px;
    padding-top: 197px;

}
.emma-header-clipped {
    padding-left: 0px;
    padding-top: 33px;
    /* padding-right: 16px; */
    padding-bottom: 82px;
}

.pulses {

    background-color: aliceblue;
    -webkit-animation-name: -wc-pulse-blue; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
    animation-name: pulse-blue;
    animation-duration: 1s;
     animation-direction: reverse;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes -wk-pulse-blue {
    from {background-color: aliceblue;}
    to {background-color:  #F7F9F9;}
}

/* Standard syntax */
@keyframes pulse-blue {
    from {background-color: aliceblue;}
    to {background-color: #F7F9F9;}
}

.my-table-header {
    background-color:#F7F9F9;
}
.my-table-col1 {
    width: 40%
}
.my-table-col2 {
    width: 20%
}
.my-table-col3 {
    width: 20%
}

.outline {
    border-color: aliceblue;
    -webkit-animation-name: -wc-outline-blue; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: outline-gray;
    animation-duration: 1s;
     animation-direction: reverse;
    animation-iteration-count: infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes -wk-outline-gray {
    from {color: aliceblue;}
    to {color:  #F7F9F9;}
}

/* Standard syntax */
@keyframes outline-gray {
    from {color: aliceblue;}
    to {color: #F7F9F9;}
}
